.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .signinCard {
    width: 50%;
    min-height: 400px;
}

.main .signinCard form {
    width: 100%;
    height: 100%;
}

.main .signinCard form input {
    width: 100%;
}